@{
    ViewData["Title"] = "Tokens";
}



<div class="container">
<div class="row justify-content-center">
    <div class="col-xl-1">
        <button id="tokens">
            <img src="~/images/token.png" width="75"/>
            000
        </button>
    </div> 
</div>
<div class="row">
    <div class="col-xl-1">
          <button id="tokens">
            <img src="~/images/token.png" width="75"/>
            000
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xl-1">
          <button id="tokens">
            <img src="~/images/token.png" width="75"/>
            000
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xl-1">
          <button id="tokens">
            <img src="~/images/token.png" width="75"/>
            000
        </button>
    </div>
</div>
</div>