#tokens{
  background-color: #808080;
  border: 3px solid black; 
  color: #333333;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  width: 225px;
  border-radius: 12px;
}
#platinum{
  background-color: #6abac3;
  border: 3px solid black; 
  color: #333333;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  width: 225px;
  border-radius: 12px;
}
#gold{
  background-color: #ffbf00;
  border: 3px solid black; 
  color: #333333;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  width: 225px;
  border-radius: 12px;
}
#silver{
  background-color: #b5b7bb;
  border: 3px solid black; 
  color: #333333;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  width: 225px;
  border-radius: 12px;
}

.inf-content{
  border:1px solid #DDDDDD;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.Silver
{
  font-weight: bold;
  color: #808080;
}
.Gold
{
  font-weight: bold;
  color: #ffbf00;
}
.Platinum
{
  font-weight: bold;
  color: #6abac3;
}
                                  