@{
    ViewData["Title"] = "AuctionErrors";
}

<h1 align="center">Auction errors</h1>
<div class="row">
    <div class="col-xl">
         <ul class="text-danger">
            <li>You can not edit auction 1min or less before opening!</li>
            <li>You can not edit auction in open state!</li>
        </ul> 
    </div>
</div>
