@{
    ViewData["Title"] = "Auctions";
}

<div class="row">
    <div class="col-xl-6">
    
    </div>
    <div class="col-xl-6 d-flex align-items-end flex-column">
         <div class="p-2">
            <a asp-controller="Auction" asp-action="CreateAuction">
                <button class="btn btn-primary btn-lg" style="width: 200px;">
                    <i class="fa fa-plus" aria-hidden="true"></i> Create auction
                </button>
            </a>            
        </div>
        <div class="p-2">
            <a asp-controller="Auction" asp-action="Auctions">
                <button class="btn btn-primary btn-lg" style="width: 200px;">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> My auctions
                </button>
            </a>            
        </div>
        <div class="p-2">
            <a asp-controller="Auction" asp-action="CreateAuction">
                <button class="btn btn-primary btn-lg" style="width: 200px;">
                    <i class="fa fa-trophy" aria-hidden="true"></i> Won auctions
                </button>
            </a>            
        </div>

        
        

    </div>
</div>